@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* height: 100vh; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  /* max-height: 100%; */
}

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 400;
}

.App {
  max-width: 100%;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10vh auto;
}

.flex {
  display: flex;
  height: 80vh;
  box-shadow: 0 0 8px lightgray;
  border-radius: 10px;
  width: 80%;
  margin: 10vh auto;
}

.flex > div {
  flex: 1;
}

.left {
  padding: 1em 2em;
  text-align: center;
}

select {
  padding: 1em;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 60%;
}

button {
  border: none;
  border-radius: 3px;
  padding: 1.1em 3em;
  background: blue;
  color: white;
  margin-left: 10px;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 0 8px lightblue;
  opacity: 0.8;
}

.joke {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

i {
  margin: 10px;
  font-size: 2em;
  padding: 10px;
  border-radius: 10px;
}

i.fa-whatsapp {
  color: green;
  border: 2px solid green;
}
i.fa-whatsapp:hover {
  background-color: green;
  color: white;
}

i.fa-twitter {
  color: blue;
  border: 2px solid blue;
}

i.fa-twitter:hover {
  background-color: blue;
  color: white;
}

.right {
  text-align: center;
  background-color: ghostwhite;
  background-image: url(/static/media/chuck_norris_PNG32.613e3789.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.generate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile_img {
  display: none;
}
@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    margin: 0;
    box-shadow: none;
  }

  .right {
    background-position-y: 20px;
    background-image: none;
    padding: 10px 0;
  }
  .mobile_img {
    display: block;
    margin: auto;
  }
  select {
    width: 50%;
  }
}
